


  <div>
    
    
<div class="table-responsive" *ngIf="!addnewstudent" > 
  <table class ="table">
    <thead> 
      <th>Name</th> 
      <th>Gender</th>

      <th>DOB</th>
      <th>Email</th>
      <th>ContactNo</th>
      <th>Department</th>

      <th> Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let st of studentList">
        <td>
          {{st.Name}}
          
        </td>
        <td>
          {{st.Gender}}
        </td>
        <td>
          {{st.DOB}}
        </td>
        <td>
          {{st.Email}}
        </td>
        
        <td>
          {{st.ContactNo}}
        </td>
        <td>
          {{st.Dept.DepartmentName}}
        </td>
        <button  style="background-color:rgb(58, 58, 158);" type="add" class="btn btn-success"  (click)="editstudent(st)"          >Edit</button> &nbsp;
        <button  style="background-color:rgb(58, 58, 158);" type="add" class="btn btn-success"  (click)="deletestudent(st._id)"          >Delete</button>
      </tr>
    </tbody>
  </table>
  

  <button  style="background-color:rgb(58, 58, 158);" type="add" class="btn btn-success"  (click)="addstudent()"          >Add Student</button>

</div>



    <div *ngIf="addnewstudent">
      <div>
        <style>
        h1 {
          color: rgb(58, 58, 158);
          font-family: 'Times New Roman', Times, serif;
          font-size: 300%;
        
        } </style>
      <h1 > Student Form</h1>
      <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
<div class="form-group"></div>
  <label for="name">Name</label>
  <input  style="color:rgb(58, 58, 158);" type="text" class="form-control" id="name"
  required
  [(ngModel)]="model.Name" name="name">

  <label for="gender">Gender</label> 
  

  <form #myForm="ngForm" (submit)="templateForm(myForm.value)" novalidate>
    <div>
       <input id="Male" type="radio" class="gender-spacing" value="Male" name="gender" [(ngModel)]="model.Gender" name="gender">  
       <label class="custom-control-label gender-spacing" for="Male">Male</label> 
       <input id="Female" type="radio" class="gender-spacing" value="Female" name="gender" [(ngModel)]="model.Gender" name="gender"> 
       <label for="Female">Female
       
      </label>
    </div>
  
    
  </form>
  

  <label for="dob">DOB</label>
  <input type="text" class="form-control" id="dob"
  required
  [(ngModel)]="model.DOB" name="dob">

  <label for="email">Email</label>
  <input type="text" class="form-control" id="email"
  required
  [(ngModel)]="model.Email" name="email">

  <label for="contactno">ContactNo</label>
  <input type="text" class="form-control" id="contactno"
  required
  [(ngModel)]="model.ContactNo" name="contactno">

  

  
    
    <label for="dept">Departments</label>
    <select class="form-control" id="dept" required  
    name="dep" [(ngModel)]="dept"  >
      <option *ngFor="let dep of departmentList" [ngValue]="dep">{{dep.DepartmentName}}</option>
    </select>
  


  <button style="background-color:rgb(58, 58, 158);" type="submit" class="btn btn-success button-style"  [disabled]="!studentForm.form.valid">Save Student</button>
  
  <button  style="background-color:rgb(58, 58, 158); margin:10px " type="cancel" class="btn btn-success"  (click)="cancel()"          >Cancel</button>
  
    </form>
  </div>

<div  *ngIf="error" >
  <label>
    something went wrong!
  </label>
</div>
   